@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="text-center" style="height:184vh">
    <h1 class="display-4">Welcome AAA to my page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>