@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheApp.styles.css" asp-append-version="true" />

    <style>
        .modale {
            display: block; /* I added this to see the modal, you don't need this */
        }

        /* Important part */
        .modale-dialog {
            overflow-y: initial;
        }

        .modale-body {
            height: 80vh;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div class="modale-dialog">
        <header>
            <nav class="" style="background-color:yellow; height: 10vh; z-index:0">

            </nav>
        </header>
        <div class="modale-body" style="background-color:antiquewhite; z-index:0">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - TheApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
